div {
  height: calc(60vh + 150px);
  background-position: center bottom;
  background-image: url(../img/115.png);
  background-size: cover;
  background-repeat: no-repeat;

  // on desktop
  // margin: -60px;
}

